.accordion {
    font-size: 16px;
    background-color: rgb(223, 223, 223);
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    cursor: pointer;
}
  
.active, .accordion:hover {
    background-color: rgb(170, 170, 170);
}

.panel {
    padding: 0 18px;
    background-color: #f4f4f4;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795';
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2796";
}
